[submodule "thirdparty/range-v3"]
	path = thirdparty/range-v3
	url = https://github.com/ericniebler/range-v3
[submodule "thirdparty/scnlib"]
	path = thirdparty/scnlib
	url = https://github.com/eliaskosunen/scnlib
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson
