[submodule "thirdparty/range-v3"]
	path = thirdparty/range-v3
	url = https://github.com/ericniebler/range-v3
[submodule "thirdparty/scnlib"]
	path = thirdparty/scnlib
	url = https://github.com/eliaskosunen/scnlib
[submodule "thirdparty/rapidjson"]
	path = thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "thirdparty/lz4"]
	path = thirdparty/lz4
	url = https://github.com/lz4/lz4
[submodule "thirdparty/Lua"]
	path = thirdparty/Lua
	url = https://github.com/walterschell/Lua
[submodule "thirdparty/FileToHeader"]
	path = thirdparty/FileToHeader
	url = https://github.com/HaydnVH/FileToHeader
